In [1]:
# Dependencies
import pandas as pd

In [2]:
# Name of the CSV file
file = '../Resources/donors2021_unclean.csv'

In [3]:
# The correct encoding must be used to read the CSV
df = pd.read_csv(file, encoding="ISO-8859-1")

In [10]:
# Preview of the DataFrame
# Note that Memo_CD is likely a meaningless column

print(df['Memo_CD'].value_counts())

df.head()

Series([], Name: count, dtype: int64)

,Name,Employer,City,State,Zip,Amount,Memo_CD
0,"CAREY, JAMES",NOT EMPLOYED,HOCKESSIN,DE,197071618.0,500,NaN
1,"OBICI, SILVANA",STONY BROOK,PORT JEFFERSON STATION,NY,117764286.0,250,NaN
2,"MAISLIN, KAREN",RETIRED,WILLIAMSVILLE,NY,14221.0,250,NaN
3,"MCCLELLAND, CARTER AND STEPHANIE",UNION SQUARE ADVISORS,NEW YORK,NY,10023.0,1000,NaN
4,"MCCLUSKEY, MARTHA",STATE UNIVERSITY OF NEW YORK,BUFFALO,NY,14214.0,250,NaN

In [13]:
# Delete extraneous column
del df["Memo_CD"]

In [14]:
df.head()

,Name,Employer,City,State,Zip,Amount
0,"CAREY, JAMES",NOT EMPLOYED,HOCKESSIN,DE,197071618.0,500
1,"OBICI, SILVANA",STONY BROOK,PORT JEFFERSON STATION,NY,117764286.0,250
2,"MAISLIN, KAREN",RETIRED,WILLIAMSVILLE,NY,14221.0,250
3,"MCCLELLAND, CARTER AND STEPHANIE",UNION SQUARE ADVISORS,NEW YORK,NY,10023.0,1000
4,"MCCLUSKEY, MARTHA",STATE UNIVERSITY OF NEW YORK,BUFFALO,NY,14214.0,250

In [15]:
# Identify incomplete rows
df.count()

Name        2000
Employer    1820
City        1999
State       1999
Zip         1996
Amount      2000
dtype: int64

In [16]:
# Drop all rows with missing information
df = df.dropna(how="any")

In [17]:
# Verify dropped rows
df.count()

Name        1818
Employer    1818
City        1818
State       1818
Zip         1818
Amount      1818
dtype: int64

In [19]:
# The Zip column is the wrong data type. It should be a string (object).
type(df)

df.dtypes

Name         object
Employer     object
City         object
State        object
Zip         float64
Amount        int64
dtype: object

In [23]:
# Use df.astype() method to convert the datatype of the Zip column
df = df.astype({"Zip" : str}, errors = "raise")

df.dtypes

Name        object
Employer    object
City        object
State       object
Zip         object
Amount       int64
dtype: object

In [24]:
# Verify that the Zip column datatype has been made an object
df['Zip'].dtype

dtype('O')

In [25]:
# We can view all the unique values in a column
df['Employer'].unique()

array(['NOT EMPLOYED', 'STONY BROOK', 'RETIRED', 'UNION SQUARE ADVISORS',
       'STATE UNIVERSITY OF NEW YORK', 'SELF', 'SETH PYENSON',
       'BACKSTOP SOLUTIONS', 'TAYLOR RING', 'ICI MUTUAL',
       'WEBB SANDERS & WILLIAMS PLLC', 'ALAMEDA COUNTY',
       'THE COALITION AGAINST TRAFFICKING IN W', 'GOOGLE LLC',
       'CASE WESTERN RESERVE UNIVERSITY', 'NONE', 'VELOCITYEHS',
       'UC BERKELEY', 'MLK LLC', 'CISCO', 'STATE OF OHIO', 'FANATICS INC',
       'SOFTWARE', 'MANAGER', 'CONSULTANT',
       'PAN-AMERICAN LIFE INSURANCE GROUP', 'BCR PROPERTIES',
       'WYNNEFIELD CAPITAL', 'JOHNS HOPKINS UNIVERSITY',
       'COLUMBIA UNIVERSITY', 'COHERENT SYSTEMS', 'CLEVELAND-CLIFFS INC.',
       'IRONUNITS LLC (CCI)', 'IRONUNITSLLC (CCI)', 'IRONUNITS (CCI)',
       'ASANTE PHYSICIAN PARTNERS', 'UPS', 'CHICAGO BAR COMPANY',
       'OVERTON SECURITY SERVICES', 'DRUMMOND COMPANY, INC.',
       'INGRAM BARGE', 'INGRAM BARGE COMPANY', 'INGRAM',
       'INGRAM INDUSTRIES INC.', 'INGRAM INDUSTRIES',
       'HAWKINS CONSTRUCTION COMPANY', 'PILLEN FAMILY FARMS',
       'KIEWIT CONSTRUCTION GROUP INC.', 'SELF-EMPLOYED',
       'D.L. DAY MASONRY', 'NATIONAL HERITAGE ACADEMIES', 'NOKIA CORP',
       'DREYER INTERNATIONAL ACADEMY LLC', 'RAY GRAHAM ASSOCIATION',
       'UNEMPLOYED', 'ALABAMA STATE PORT AUTHORITY',
       'BORELL CONSULTING SERVICES, LLC',
       'NIPPON LIFE INS. CO. OF AMERIC', 'SANDVIK MATERIALS TECH',
       'VIRTUA', 'COMMUNITY CHRISTIAN FELLOWSHIP', 'SELF AND VA',
       'VOYAGER SERVICE CENTERS INC.', 'DES PERES HOSPITAL',
       'SACRED HEART CHURCH', 'PROVIDENCE ASSOCIATES', 'SELF EMPLOYED',
       'USAF', 'P LOESCH PAINTING', 'DIOCESE OF SAN BERNARDINO',
       'ARCHDIOCESE OF NEW YORK', 'RIDGE NAPQA', 'HUB GROUP',
       'US POSTAL SERVICE', 'BALTIMORE CO. BOARD OF EDUCATION', 'US ARMY',
       'CHRIST COMMUNITY MINISTRIES', "SHAFTO'S FARM",
       'BOEHRINER INGELHEIM', 'LOCKHEAD MARTIN', 'CHRYSLER CORPORATION',
       'SM HEATING & A/C', 'TRINITY SCHOOL',
       'AUTOMATED LOGISTICS SYSTEMS', 'JOELLEN DESIGNS',
       'T & B AUTO SALES', "THE MASTER'S WOODSHOP",
       'GREAT CONNECTIONS ELECTRIC LLC', 'THE JANKOVICH COMPANY',
       'ADAMS& BLUIN', 'ALLSTATE INSURANCE', 'Y COMBINATOR', 'ZENPUT',
       'NORTHEASTERN UNIVERSITY', 'ARCOSA, INC.',
       'SPIRIT AEROSYSTEMS INC', 'AVANGRID', 'AVANGRID SERVICE COMPANY',
       'AVANGRID RENEWABLES, LLC', 'NY STATE ELECTRIC & GAS C',
       'LEXISNEXIS RISK SOLUTIONS', 'WEGMANS FOOD MARKETS INC.', 'PAE',
       'HAPPY HEALTHY WITH HADLEE', 'U.S. DEPARTMENT OF INTERIOR', 'CEL',
       'INTEL CORPORATION', 'PROGRESSIVE PRODUCE LLC',
       'SONY MUSIC ENTERTAINMENT', 'CORNELL UNIVERSITY', 'DYSON',
       'ACCENTURE', 'SIXPOINT HARNESS', 'PIXAR ANIMATION STUDIOS',
       'UNIVERSITY OF PENNSYLVANIA', 'JPG',
       'PROVIDENCE ST. JOSEPH HEALTH', 'SOCURE',
       "PEOPLE'S COMMUNITY CLINIC OF NEWBERG", 'MELISSA AND SUE CAMP',
       'UNIVERSITY OF WYOMING', 'MICHIGAN STATE HOUSING DEVELOPMENT AUT',
       'FREIGHT FORWARDER', 'LARCHMONT CHARTER SCHOOL',
       'SAN FRANCISCO UNIFIED SCHOOL DISTRICT', 'SPACEX', 'AHVI', 'TPAG',
       'LOS ANGELES VALLEY COLLEGE', 'GEICO', 'SCHOOL OF ROCK',
       'LOTARIA INC.', '11X', 'CARBON FIVE',
       'AMAZON DEVELOPMENT CENTER U.S. INC.',
       'CALIFORNIA ALLIANCE FOR ARTS EDUCATION', 'CHIME', 'INDEED INC.',
       'GLOBALFOUNDRIES INC.', 'STATE OF TEXAS',
       'UNIVERSITY OF CALIFORNIA', 'TMCSEA',
       'ASSOCIATION FOR COMMUNITY AFFILIATED P',
       'POLITICAL COMMUNICATIONS, INC', 'SEATTLE GENETICS',
       'DEROSA ADVISORS', 'ASSOCIA INC', 'ASSOCIA NORTHERN CALIFORNIA',
       'COMERICA INC', 'CHARLES A. KLEIN  SONS INC.',
       'QUALCOMM TECHNOLOGIES INC.', 'ARCHER AUTO GROUP',
       'HOLLAND ENGINEERING', 'DUBOV PARTNERS,LLC', 'RENCO GROUP',
       'URBAN FOUNDATION ENGINEERING', 'CNB', 'PEDIATRICS OF SW HOUSTON',
       'RUAN, INC', 'RYAN SPECIALTY GROUP', 'BRACKEN INTEREST',
       'NESNAH MANAGEMENT', 'FAMILY MANAGEMENT CORP',
       'ARMSTRONG ACCOUNTING', 'CAILLOUX FOUNDATION', 'JAMES CALLAN INC.',
       'FIRING PIN ENTERPRIZES, INC.', 'OWNER', 'TDH CAPITAL CORP',
       'SEYFARTH', 'ZIPPO MFG. CO.', 'MILLBROOK CAPITAL',
       'PINNACLE EXPRESS INC.', 'NEUBERGER BERMAN',
       'ADAMS, BARFIELD  BAITY', 'FILM FLEET, LLC',
       'RAC PROPERTIES OF ATHENS, INC', 'BAE SYSTEMS', 'TOTAL SOURCE CAM',
       'CLARK CONSTRUCTION LLC', 'RYAN SPECIALTYGROUP',
       'GAINESVILLE SKIN CANCER CENTER', 'LINDQUIST MORTIARIES',
       "JEROME'S COLLISION CENTER", 'AURORA MEDICAL GROUP',
       'HANNAFORD BROS.', 'FOMMCO', 'EVERHARD PRODUCTS',
       'GABELL BEAVER LLC', 'NO LONGER WORK', 'SPARBOE FARMS',
       'TERMINIX SERVICE, INC.', 'SIRI  GLIMSTAD LLP',
       'INVEST AMERICA REALTY', 'HOT SPRINGS COUNTY DISTRICT HOSPITAL',
       'BP INDUSTRIES INC', 'ACURA CARLAND', 'ALLIANT INSURANCE SERVICES',
       'GUARDIAN LIFE', 'ROOF DEPOT', 'FAREL BYRD, CPA, PA', 'EJME',
       'LOCKHEED MARTIN', 'BRAY INTERNATIONAL INC.', 'MICHAELREED',
       'MAGNOLIA OIL & GAS', 'NOT WORKING NOW', 'AIR FORCE',
       'ST PETERS HEALTH', 'ANGES AUTO', 'MWD MGNT CORP',
       'FIRST NATIONAL CAPITAL CORPORATION', 'ARUZE GAMING AMERICA',
       'CAREMOUNT', 'HUSBAND', 'FBM', 'SERVICE EXPERTS',
       'THE HYATT COMPANY, LLC', 'OTIS EASTERN SERVICE LLC',
       'JOHN PROP. MGMT CO', 'MATRIX PARTNERS, LTD.',
       'AGAR TRUCK SALES INC', 'AUTONOMY AIR CORP', 'FH MINE SUPPLY INC.',
       'MIDWAY FORD TRK CTR', 'TREVDAN INC', 'ST. FRANCIS MEDICAL CENTER',
       'HOBBS  ASSOC', 'CUSTARD KINGS', 'TANQUE VERDE RANCH', 'VHCA',
       'BOYLE INV. CO', 'EQUITY GROUP INVESTMENTS', 'MMM EXPRESS',
       'MAXWELL HUD', 'GENUITY SCIENCE', 'STATE OF CONNECTICUT',
       'STARR AVIATION', 'INDEPENDENT CONTRACTOR', 'PEN COR', 'RYAN LLC',
       'RELEASE MARINE', 'ICARE MGT', 'REMAX', 'NPH', 'APELINC',
       'BAXTER PACIFIC GROUP', 'ADVANCE AMERICA CASH ADVANCE CENTERS I',
       'SAP', 'OCEAN TOMO', 'BLUE RIDGE HEALTH', 'WAL MART',
       'FERNANDEZ & COMPANY P.C.', 'ZEUS', 'ROBINSON CONSULTING',
       'POLYTECHNIC SCHOOL', 'IMMERSION, INC.',
       'ENDANGERED HABITATS LEAGUE', 'IN/SITE ARCHITECTURE',
       'TANANA VALLEY HOLDINGS', 'MMC', 'EMSD6', 'PVT LAND CO',
       'SNOHOMISH SD', 'NIH', 'OFFICE OF THE PUBLIC DEFENDER', 'MPS, LLC',
       'MARKS AND LEAR A PLC', 'WETA DIGITAL', 'BELKIN INTERNATIONAL',
       'LEXISNEXIS', 'ORACLE', 'EWEB', 'PG&E', 'GRAPH STRATEGY',
       'DATA AUTOMATION GROUP', 'BANK OF AMERICA', 'TRC', 'L&M',
       'XEROX CORPORATION', 'FAA', 'SPIRE SPORTS', 'AP ENGINEERING',
       'PAGANELLI LAW GROUP LLC', 'CBRE', 'UNIVERSITY OF OREGON',
       "CHICO'S", 'SENTARA HEALTH CARE', 'FIREBRAND CREATIVE', 'FIS',
       'US DEPARTMENT OF THE INTERIOR', 'MAJOR LINDSEY & AFRICA',
       'MICROSOFT', 'THINKRESOLUTION', 'UNIVERSITY OF MASSACHUSETTS',
       'JP MORGAN', 'OASIS SYSTEMS', 'KHMR&G', 'REFUSED TO DISCLOSE',
       'ZWJ', 'ALLIANCE OF CHRISTIAN MEDIA', 'PACTIV',
       'PROCESS SPECIALTIES', 'SHELBY CO SCHOOLS',
       'NEW ENGLAND SOUTHERN RR', 'HOUSTON METHODIST', '42CHAT', 'APA',
       'SLOCUM & SONS', 'MARINHEALTH MEDICAL CENTER',
       'ARTSIGNS ARCHITECTURAL GRAPHICS INC.', 'URBAN PHILANTHROPIES',
       'KOBALT MUSIC', 'US NAVY', 'HEB', 'OLIVER', 'ETA COMPUTE',
       'MATTRESS FIRM', 'UBS', 'MANSELL & ANDREWS', 'IBM',
       'CREATION DESIGN SERVICES', 'BRIGHT HEALTH', 'PIMG', 'ATLANTIC',
       'UC SAN DIEGO', 'ERICSSON', 'AEQUITAS INVESTMENT ADVISORS',
       'PILLSBURY', 'SOUTHWEST AIRLINES', 'PRESSURE TECHNOLOGY',
       'PRASAD CORPORATION', 'BOBS DISCOUNT FURNITURE', 'MICRO FOCUS',
       'MATSON NAVIGATION', 'MEDFORD', 'WELLMARK', 'TETRA PAK', 'ID',
       'MAXFIELD REAL ESTATE', 'MUIH', 'MAYO CLINIC',
       'SILVER STAR BRANDS', 'MEDTRONIC', 'VHA', 'E JE2T PAC',
       'MONTEFIORE', 'OCPS', 'WELLS FARGO ADVISORS', 'KDB PLLC',
       'CLUBHOUSE INTERNATIONAL', 'CHAINEY-DAVIS BIOLOGICAL CONSULTING',
       'HEPTON LIVESTOCK LLC', 'ODOC', 'LEGACY HEALTH', 'EJD TRANSPORT',
       'LAWRENCE BERKELEY LAB', 'WALMART', 'UPMC', 'MASS GENERAL BRIGHAM',
       'MAGIC LEAP', 'USPS', 'NSI', 'EXPERGY', 'SANMINA CORPORATION',
       'NORTH ATLANTA ENT', 'SAN FRANCISCO OPERA', 'LARIMARKET', 'SDUSD',
       'USACS', 'A MEDICAL TECH COMPANY', 'RSI', 'ROBOTECH',
       'HOLIDAY INN EXPRESS', 'CSU', 'UNIVERSITY OF ILLINOIS',
       'IVY LEAGUE UNIVERISTY', 'FUSION MARKETING GROUP', 'SSP AMERICA',
       'UNITY CONSULTING', 'PEACEHEALTH', 'STUDENT ACHIEVEMENT PARTNERS',
       'APE', 'GLOBAL FOUNDRIES', 'MAXIMUS FEDERAL', 'S3', 'ACM',
       'SEATTLE CITY LIGHT', 'SCE', 'ALVARADO MANAGAGMENT',
       'DI COSTA PARTNERS', 'MAGIQ TECHNOLOGIES', 'MOEBIUS MODELS',
       'CENTURY 21 ALLIANCE', 'COORDINATED RESPONSE', 'SHP MGMT',
       'DECISIONS LLC', 'KEYBANK', 'UNIV OF TAMPA', 'JC EDWARD CORP',
       'INTEL AMERICAS', 'XRO', "BRIGGS FREEMAN SOTHEBY'S",
       'DOCTOR OFFICE', 'ALLIED WORLD INSURANCE COMPANY', 'TJX',
       'ENGINEERED ENVIRONMENTAL SOLUTIONS', 'RODAHL & COMPANY LLC',
       'SBPI SERVICES INC.', 'SCALAR MEDIA PARTNERS', 'LOCKE LORD, LLP',
       "TRADER JOE'S", 'STRUCTURE CAPITAL', 'CLOUDS AND SUNBREAKS',
       'NOWCC', 'HEBERT & MARCEAUX', 'WELLS FARGO', 'AT&T',
       'WOOD PARTNERS', 'MUSD2O', 'NETAPP', 'BRADLEY ARANT',
       'SPLUNK INC.', 'VELA TRADING', 'SFTC, LLC', 'DIRECT ENERGY',
       'LOS ANGELES COUNTY', 'ELF', 'ERON ENGINEERING',
       'MCCROSKEY LAW FIRM', 'LW INSURANCE', 'INVE$TNET',
       'SWEETUM PRODUCTIONS', 'CHARTER OAK FCU', 'KIRBY ELECTRIC',
       'JUMBURRITO.COM', 'CHAMPION ASSOCIATES', 'HCA',
       'FORM4 ARCHITECTURE', 'KOCHEL EQUIPMENT', 'HEALTHCARE PARTNERS',
       'FCA US, LLC', 'OFFICE CHURCHILL', 'SAFEWORKS', 'CNS',
       'CHICAGO HOUSING AUTORITY', 'STAPLES', 'DAN CRON LAW FIRM',
       'TRANE', 'ESTES', 'GULF INTERSTATE', 'LHH',
       'LYNX STUDIO TECHNOLOGY, INC.', 'UW-MILWAUKEE', 'ORACLE USA',
       'RPS', 'NAWCWD', 'TREES OF SHADE INC', 'NOKIA OF AMERICA',
       'PROVIDENCE', 'MITRE CORP.', 'ENTERPRISE', 'PARADATEC',
       'ECAPITAL ADVISORS', 'JRPRO', 'ENDEAVOR AIR',
       'HORIZON PHILANTHROPIC', 'SIGMATEX, INC.', 'SIKORSKY',
       'PARK WEST HEALTH SYSTEM, INC.', 'IRRELEVANT',
       'UNIVERSITY OF SOUTH FLORIDA', 'UNITED CHURCH OF CHRIST', 'AXIOM',
       'SHARTZER LAW FIRM', 'ST LOUIS UNIVERSITY', 'REFUSE TO DISCLOSE',
       'STATE OF CALIFORNIA', 'ARCTIC STORM MANAGEMENT GROUP',
       'FAEGRE DRINKER', 'MOSES SINGER', 'BOARD OF ED', 'COMPASS',
       'UNIVERSITY OF ALASKA', 'TOWN & COUNTRY MOVERS', 'BARUCH COLLEGE',
       'HEALTH LAW CONSULTANCY', 'ALLMED HEALTHCARE MANAGEMENT, INC.',
       'DOMENGEAUX WRIGHT ROY & EDWARDS, LLC', 'BARREL ASSOCIATES',
       'RESOURCE DATA INC.', 'PROJECT TRANSITION', 'HOME DEPOT',
       'BOOKREPORT', 'CC5', 'BLM', 'WILLIS TOWERS WATSON',
       'VECTOR SOFTWARE', 'HEALTHASSIST', 'RIVERSIDE RESEARCH',
       'BLOOMBERG ADVOCACY', 'VISA', 'CAPITOL DOOR SALES', 'CFSB',
       'EMPATH HEALTH', 'COMPUTERNET RESOURCE GROUP',
       'PRECISION STRUCTURAL EMGOMEEROMG', '40TH STREET APARTMENTS LLC',
       'MERCK', 'EY', 'ESS', 'MIDMICHIGAN MEDICAL CENTER',
       'JACKOWAY ET AL', 'KROGER', 'AX MOJO LLC', 'KRIFCON', 'UCLA',
       'FLYTEC, USA', '5T WEALTH, LLC'], dtype=object)

In [26]:
# We can count the number of unique values
df['Employer'].nunique()

519

In [27]:
# We can count the number of occurrences
# for each unique value
df['Employer'].value_counts()

Employer
NOT EMPLOYED                        609
NONE                                321
SELF-EMPLOYED                       132
SELF                                 33
RETIRED                              32
                                   ...
NOKIA CORP                            1
FH MINE SUPPLY INC.                   1
DREYER INTERNATIONAL ACADEMY LLC      1
RAY GRAHAM ASSOCIATION                1
5T WEALTH, LLC                        1
Name: count, Length: 519, dtype: int64

In [28]:
# Clean up Employer category. Replace 'SELF' and 'SELF EMPLOYED' with 'SELF-EMPLOYED'
df['Employer'] = df["Employer"].replace({"SELF" : 'SELF-EMPLOYED', "SELF EMPLOYED" : "SELF-EMPLOYED"})

In [29]:
# Verify clean-up.
df['Employer'].value_counts()

Employer
NOT EMPLOYED                            609
NONE                                    321
SELF-EMPLOYED                           180
RETIRED                                  32
INGRAM BARGE COMPANY                     30
                                       ...
GOOGLE LLC                                1
BP INDUSTRIES INC                         1
HOT SPRINGS COUNTY DISTRICT HOSPITAL      1
INVEST AMERICA REALTY                     1
5T WEALTH, LLC                            1
Name: count, Length: 517, dtype: int64

In [31]:
# Clean up Employer category. Replace 'NOT EMPLOYED' with 'UNEMPLOYED'
df['Employer'] = df["Employer"].replace({"NOT EMPLOYED" : 'UNEMPLOYED'})
df['Employer'].value_counts()

Employer
UNEMPLOYED                        611
NONE                              321
SELF-EMPLOYED                     180
RETIRED                            32
INGRAM BARGE COMPANY               30
                                 ...
JEROME'S COLLISION CENTER           1
LINDQUIST MORTIARIES                1
GAINESVILLE SKIN CANCER CENTER      1
RYAN SPECIALTYGROUP                 1
5T WEALTH, LLC                      1
Name: count, Length: 516, dtype: int64

In [32]:
# Display a statistical overview
df.describe()

              Amount
count    1818.000000
mean      752.127613
std     11601.791128
min     -1000.000000
25%        25.000000
50%        50.000000
75%       200.000000
max    400000.000000

In [33]:
# We can calculate individual aggregate functions per column
print("AMOUNT:")
print(f"The count is {df['Amount'].count()}")
print(f"The minimum is {df['Amount'].min()}")
print(f"The maximum is {df['Amount'].max()}")
print(f"The mean is {df['Amount'].mean()}")

AMOUNT:
The count is 1818
The minimum is -1000
The maximum is 400000
The mean is 752.1276127612762

In [37]:
# We can also calculate them for an entire DataFrame
df.min()

Name        ABATA, JOSEPH
Employer              11X
City                ACTON
State                  AK
Zip           100032604.0
Amount              -1000
dtype: object

In [39]:
df

,Name,Employer,City,State,Zip,Amount
0,"CAREY, JAMES",UNEMPLOYED,HOCKESSIN,DE,197071618.0,500
1,"OBICI, SILVANA",STONY BROOK,PORT JEFFERSON STATION,NY,117764286.0,250
2,"MAISLIN, KAREN",RETIRED,WILLIAMSVILLE,NY,14221.0,250
3,"MCCLELLAND, CARTER AND STEPHANIE",UNION SQUARE ADVISORS,NEW YORK,NY,10023.0,1000
4,"MCCLUSKEY, MARTHA",STATE UNIVERSITY OF NEW YORK,BUFFALO,NY,14214.0,250
...,...,...,...,...,...,...
1995,"KROMHOUT, WILEEN",UCLA,PORTER RANCH,CA,913263018.0,57
1996,"KRONHEIM, NANCY",UNEMPLOYED,ARLINGTON,VA,222041332.0,100
1997,"KROOP, STEVE","FLYTEC, USA",HIGH SPRINGS,FL,326431608.0,39
1998,"KRSEK, PAUL","5T WEALTH, LLC",NAPA,CA,945581818.0,20
1999,"KRUEGER, BETTY",UNEMPLOYED,MUNDELEIN,IL,600606036.0,25

In [38]:
# Save the DataFrame to a CSV file. 
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html
df.to_csv("cleaned_donors.csv", index=False)