# Sourcing Data from HTML Tables with Pandas

In [2]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically extract any tabular data from a page.

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_Australian_capital_cities'

In [4]:
tables = pd.read_html(url)

tables

[                                                   0
 0  WESTERN AUSTRALIA NORTHERN TERRITORY SOUTH AUS...,
                 State/territory    Capital  City population[2]  \
 0               New South Wales     Sydney             5029768
 1                      Victoria  Melbourne             4725316
 2                    Queensland   Brisbane             2360241
 3             Western Australia      Perth             2022044
 4               South Australia   Adelaide             1324279
 5                      Tasmania     Hobart              224462
 6  Australian Capital Territory   Canberra              403468
 7            Northern Territory     Darwin              145916

    State/territory population[3]  \
 0                        7759274
 1                        6179249
 2                        4848877
 3                        2558951
 4                        1713054
 5                         517588
 6                         403468
 7                         245740

   Percentage of state/territory population in capital city  Established  \
 0                                             64.82%               1788
 1                                             76.47%               1835
 2                                             48.68%               1825
 3                                             79.02%               1829
 4                                             77.31%               1836
 5                                             43.37%               1804
 6                                            100.00%               1913
 7                                             59.38%               1869

    Capital since  Image
 0           1788    NaN
 1           1851    NaN
 2           1860    NaN
 3           1829    NaN
 4           1836    NaN
 5           1826    NaN
 6           1913    NaN
 7           1911    NaN  ,
                                 vteAustralia articles  \
 0                                             History
 1   Timeline Bibliography Prehistory Archaeology E...
 2                                            By topic
 3                                           Geography
 4   Climate Climate change Continent Deserts Envir...
 5                                        Subdivisions
 6                                            Politics
 7   Asylum Constitution Courts Elections Donations...
 8                                             Economy
 9   Agriculture Dollar Energy Gross state product ...
 10                                            Society
 11  Abortion Aged care Censorship Citizenship Crim...
 12                                            Culture
 13           OutlineIndexBibliography Category Portal

                               vteAustralia articles.1
 0   Timeline Bibliography Prehistory Archaeology E...
 1   Timeline Bibliography Prehistory Archaeology E...
 2   Asian Australians Constitutional Diplomatic Ec...
 3   Climate Climate change Continent Deserts Envir...
 4   Climate Climate change Continent Deserts Envir...
 5              States and territories Capitals Cities
 6   Asylum Constitution Courts Elections Donations...
 7   Asylum Constitution Courts Elections Donations...
 8   Agriculture Dollar Energy Gross state product ...
 9   Agriculture Dollar Energy Gross state product ...
 10  Abortion Aged care Censorship Citizenship Crim...
 11  Abortion Aged care Censorship Citizenship Crim...
 12  Architecture Art Arts Australian English Cinem...
 13           OutlineIndexBibliography Category Portal  ,
                                                    0  \
 0  Timeline Bibliography Prehistory Archaeology E...
 1                                           By topic

                                                    1
 0  Timeline Bibliography Prehistory Archaeology E...
 1  Asian Australians Constitutional Diplomatic Ec...  ,
                                                    0  \
 0  Climate Climate change Continent Deserts Envir...
 1                                       Subdivisions

                                                    1
 0  Climate Climate change Continent Deserts Envir...
 1             States and territories Capitals Cities  ,
                                                    0  \
 0  Asylum Constitution Courts Elections Donations...

                                                    1
 0  Asylum Constitution Courts Elections Donations...  ,
                                                    0  \
 0  Agriculture Dollar Energy Gross state product ...

                                                    1
 0  Agriculture Dollar Energy Gross state product ...  ,
                                                    0  \
 0  Abortion Aged care Censorship Citizenship Crim...
 1                                            Culture

                                                    1
 0  Abortion Aged care Censorship Citizenship Crim...
 1  Architecture Art Arts Australian English Cinem...  ,
                       vteCapital cities of Australia  \
 0  National and ACT Canberra NSW Sydney NT Darwin...
 1                          National and ACT Canberra
 2                        List of cities in Australia

                     vteCapital cities of Australia.1 Unnamed: 2    Unnamed: 3  \
 0  National and ACT Canberra NSW Sydney NT Darwin...        NaN           NaN
 1                                         NSW Sydney  NT Darwin  QLD Brisbane
 2                        List of cities in Australia        NaN           NaN

     Unnamed: 4  Unnamed: 5     Unnamed: 6 Unnamed: 7
 0          NaN         NaN            NaN        NaN
 1  SA Adelaide  TAS Hobart  VIC Melbourne   WA Perth
 2          NaN         NaN            NaN        NaN  ,
                            0           1          2             3  \
 0  National and ACT Canberra  NSW Sydney  NT Darwin  QLD Brisbane

              4           5              6         7
 0  SA Adelaide  TAS Hobart  VIC Melbourne  WA Perth  ]

In [11]:
tables[0]

                                                   0
0  WESTERN AUSTRALIA NORTHERN TERRITORY SOUTH AUS...

In [12]:
tables[1]

,State/territory,Capital,City population[2],State/territory population[3],Percentage of state/territory population in capital city,Established,Capital since,Image
0,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788,NaN
1,Victoria,Melbourne,4725316,6179249,76.47%,1835,1851,NaN
2,Queensland,Brisbane,2360241,4848877,48.68%,1825,1860,NaN
3,Western Australia,Perth,2022044,2558951,79.02%,1829,1829,NaN
4,South Australia,Adelaide,1324279,1713054,77.31%,1836,1836,NaN
5,Tasmania,Hobart,224462,517588,43.37%,1804,1826,NaN
6,Australian Capital Territory,Canberra,403468,403468,100.00%,1913,1913,NaN
7,Northern Territory,Darwin,145916,245740,59.38%,1869,1911,NaN

In [13]:
tables[2]

,vteAustralia articles,vteAustralia articles.1
0,History,Timeline Bibliography Prehistory Archaeology E...
1,Timeline Bibliography Prehistory Archaeology E...,Timeline Bibliography Prehistory Archaeology E...
2,By topic,Asian Australians Constitutional Diplomatic Ec...
3,Geography,Climate Climate change Continent Deserts Envir...
4,Climate Climate change Continent Deserts Envir...,Climate Climate change Continent Deserts Envir...
5,Subdivisions,States and territories Capitals Cities
6,Politics,Asylum Constitution Courts Elections Donations...
7,Asylum Constitution Courts Elections Donations...,Asylum Constitution Courts Elections Donations...
8,Economy,Agriculture Dollar Energy Gross state product ...
9,Agriculture Dollar Energy Gross state product ...,Agriculture Dollar Energy Gross state product ...
10,Society,Abortion Aged care Censorship Citizenship Crim...
11,Abortion Aged care Censorship Citizenship Crim...,Abortion Aged care Censorship Citizenship Crim...
12,Culture,Architecture Art Arts Australian English Cinem...
13,OutlineIndexBibliography Category Portal,OutlineIndexBibliography Category Portal

In [14]:
tables[3]

,0,1
0,Timeline Bibliography Prehistory Archaeology E...,Timeline Bibliography Prehistory Archaeology E...
1,By topic,Asian Australians Constitutional Diplomatic Ec...

In [15]:
tables[4]

,0,1
0,Climate Climate change Continent Deserts Envir...,Climate Climate change Continent Deserts Envir...
1,Subdivisions,States and territories Capitals Cities

#### What we get in return is a list of DataFrames for any tabular data that Pandas found.

In [17]:
type(tables)
len(tables)

10

#### We can slice off any of those dataframes that we want using normal indexing.

In [18]:
df = tables[1]
df.head(5)

,State/territory,Capital,City population[2],State/territory population[3],Percentage of state/territory population in capital city,Established,Capital since,Image
0,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788,NaN
1,Victoria,Melbourne,4725316,6179249,76.47%,1835,1851,NaN
2,Queensland,Brisbane,2360241,4848877,48.68%,1825,1860,NaN
3,Western Australia,Perth,2022044,2558951,79.02%,1829,1829,NaN
4,South Australia,Adelaide,1324279,1713054,77.31%,1836,1836,NaN

#### Fix column names

In [22]:
df.columns

Index(['State/territory', 'Capital', 'City population[2]',
       'State/territory population[3]',
       'Percentage of state/territory population in capital city',
       'Established', 'Capital since', 'Image'],
      dtype='object')

In [23]:
df

,State/territory,Capital,City population[2],State/territory population[3],Percentage of state/territory population in capital city,Established,Capital since,Image
0,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788,NaN
1,Victoria,Melbourne,4725316,6179249,76.47%,1835,1851,NaN
2,Queensland,Brisbane,2360241,4848877,48.68%,1825,1860,NaN
3,Western Australia,Perth,2022044,2558951,79.02%,1829,1829,NaN
4,South Australia,Adelaide,1324279,1713054,77.31%,1836,1836,NaN
5,Tasmania,Hobart,224462,517588,43.37%,1804,1826,NaN
6,Australian Capital Territory,Canberra,403468,403468,100.00%,1913,1913,NaN
7,Northern Territory,Darwin,145916,245740,59.38%,1869,1911,NaN

In [24]:
cols = list(df.columns)
cols[2] = "City Population"
cols[3] = "State/territory population"

df.columns = cols

df.head(5)

,State/territory,Capital,City Population,State/territory population,Percentage of state/territory population in capital city,Established,Capital since,Image
0,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788,NaN
1,Victoria,Melbourne,4725316,6179249,76.47%,1835,1851,NaN
2,Queensland,Brisbane,2360241,4848877,48.68%,1825,1860,NaN
3,Western Australia,Perth,2022044,2558951,79.02%,1829,1829,NaN
4,South Australia,Adelaide,1324279,1713054,77.31%,1836,1836,NaN

In [ ]:
# df.rename(columns={})

#### Drop a column

In [26]:
df = df.drop(['Image'], axis=1)

#### Reset an index

In [27]:
df = df.reset_index(drop=True)
df

,State/territory,Capital,City Population,State/territory population,Percentage of state/territory population in capital city,Established,Capital since
0,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788
1,Victoria,Melbourne,4725316,6179249,76.47%,1835,1851
2,Queensland,Brisbane,2360241,4848877,48.68%,1825,1860
3,Western Australia,Perth,2022044,2558951,79.02%,1829,1829
4,South Australia,Adelaide,1324279,1713054,77.31%,1836,1836
5,Tasmania,Hobart,224462,517588,43.37%,1804,1826
6,Australian Capital Territory,Canberra,403468,403468,100.00%,1913,1913
7,Northern Territory,Darwin,145916,245740,59.38%,1869,1911

In [28]:
df.iloc[0]

State/territory                                             New South Wales
Capital                                                              Sydney
City Population                                                     5029768
State/territory population                                          7759274
Percentage of state/territory population in capital city             64.82%
Established                                                            1788
Capital since                                                          1788
Name: 0, dtype: object

In [30]:
df.loc[df['State/territory']=='New South Wales']

,State/territory,Capital,City Population,State/territory population,Percentage of state/territory population in capital city,Established,Capital since
0,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788

## Export DataFrame as CSV

In [31]:
df.to_csv('aussie_wiki.csv', index=False)