# Demo: Using Pandas to Work with Time Data

In [6]:
# Initial imports
import pandas as pd
import datetime

In [2]:
# Read the S&P 500 CSV data into a DataFrame
df = pd.read_csv("../Resources/sp500.csv")

# Display the DataFrame
df.head()

                        time   close
0  2019-01-02 12:45:00+00:00  246.16
1  2019-01-02 13:00:00+00:00  246.15
2  2019-01-02 13:15:00+00:00  245.50
3  2019-01-02 13:30:00+00:00  245.71
4  2019-01-02 13:45:00+00:00  245.76

In [3]:
# Verify the data types using dtypes
df.dtypes

time      object
close    float64
dtype: object

In [4]:
# Reviewing the time value from index position 0
df['time'][0]

'2019-01-02 12:45:00+00:00'

In [8]:
# Getting the current date and time
datetime.datetime.now()

pd.to_datetime('today')

Timestamp('2024-04-02 20:06:09.733736')

In [13]:
df.shape

(9328, 2)

In [9]:
# Transform the time column to a datetime data type
df['time'] = pd.to_datetime(df['time'], utc=True)

# Verify the data type transformation using the info function
df['time'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9328 entries, 0 to 9327
Series name: time
Non-Null Count  Dtype
--------------  -----
9328 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1)
memory usage: 73.0 KB

In [15]:
df.head()

                       time   close
0 2019-01-02 12:45:00+00:00  246.16
1 2019-01-02 13:00:00+00:00  246.15
2 2019-01-02 13:15:00+00:00  245.50
3 2019-01-02 13:30:00+00:00  245.71
4 2019-01-02 13:45:00+00:00  245.76

In [17]:
# Convert the time column to the US/Eastern timezone
df['time'] = df['time'].dt.tz_convert('US/Eastern')


# Verify the data type transformation using the info function
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9328 entries, 0 to 9327
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    9328 non-null   datetime64[ns, US/Eastern]
 1   close   9328 non-null   float64
dtypes: datetime64[ns, US/Eastern](1), float64(1)
memory usage: 145.9 KB

In [18]:
# Review the DataFrame with the new timezone information
df.head()

                       time   close
0 2019-01-02 07:45:00-05:00  246.16
1 2019-01-02 08:00:00-05:00  246.15
2 2019-01-02 08:15:00-05:00  245.50
3 2019-01-02 08:30:00-05:00  245.71
4 2019-01-02 08:45:00-05:00  245.76