In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# A DataFrame of individuals' contact information
PATH_VARIABLE = '../Resources/people.csv'

people_df = pd.read_csv(PATH_VARIABLE)
people_df.head()

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email
0,Rufe,Eickhoff,M,54,Zieme and Sons,0 Summer Ridge Pass,Mizque,740-948-0089,177-453-4212,reickhoff0@last.fm
1,Berkie,Morson,M,20,Gibson and Sons,37963 Linden Crossing,Ouro Branco,168-714-9518,435-628-4078,bmorson1@homestead.com
2,Urbano,Polly,M,29,Brown-Dietrich,772 Crowley Court,Banff,126-409-5968,523-115-7431,upolly2@cdbaby.com
3,Alphonso,Bourley,M,29,Hansen-Russel,0 Graceland Avenue,Sabana Grande,583-906-8550,363-721-4939,abourley3@issuu.com
4,Munmro,Fenck,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai,141-960-7812,652-495-4816,mfenck4@mediafire.com

In [5]:
people_df

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email
0,Rufe,Eickhoff,M,54,Zieme and Sons,0 Summer Ridge Pass,Mizque,740-948-0089,177-453-4212,reickhoff0@last.fm
1,Berkie,Morson,M,20,Gibson and Sons,37963 Linden Crossing,Ouro Branco,168-714-9518,435-628-4078,bmorson1@homestead.com
2,Urbano,Polly,M,29,Brown-Dietrich,772 Crowley Court,Banff,126-409-5968,523-115-7431,upolly2@cdbaby.com
3,Alphonso,Bourley,M,29,Hansen-Russel,0 Graceland Avenue,Sabana Grande,583-906-8550,363-721-4939,abourley3@issuu.com
4,Munmro,Fenck,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai,141-960-7812,652-495-4816,mfenck4@mediafire.com
...,...,...,...,...,...,...,...,...,...,...
495,Perrine,Patria,F,79,"Heaney, Marks and Williamson",28 Amoth Court,Saipan,546-483-0265,196-735-7266,ppatriadr@stumbleupon.com
496,Perl,Parrett,F,38,Schuppe-Wiza,517 Mariners Cove Road,Zverevo,314-806-6598,761-758-1493,pparrettds@cam.ac.uk
497,Eleen,Jakeman,F,37,Lakin and Sons,835 Dunning Road,Carlos Barbosa,271-474-6733,313-517-3577,ejakemandt@prlog.org
498,Crysta,Barfoot,F,60,"Graham, Koss and Larkin",35065 Westport Circle,Nguluhan,700-959-5943,844-972-8566,cbarfootdu@about.me
499,Helen-elizabeth,McKew,F,40,"Wisozk, Mueller and Streich",1 Northfield Alley,Sijunjung,922-121-7848,649-108-4915,hmckewdv@ibm.com

In [3]:
print(people_df.shape)
print(len(people_df))

(500, 10)
500

In [4]:
# Collect a list of all columns within the DataFrame
people_df.columns

Index(['first_name', 'last_name', 'gender', 'age', 'company_name', 'address',
       'city', 'phone1', 'phone2', 'email'],
      dtype='object')

In [5]:
# Reorganize the columns using double brackets
organized_df = people_df[['first_name', 'last_name', 'email', 'gender', 'age', 'company_name', 'address', 
                          'city']]
organized_df.head()

,first_name,last_name,email,gender,age,company_name,address,city
0,Rufe,Eickhoff,reickhoff0@last.fm,M,54,Zieme and Sons,0 Summer Ridge Pass,Mizque
1,Berkie,Morson,bmorson1@homestead.com,M,20,Gibson and Sons,37963 Linden Crossing,Ouro Branco
2,Urbano,Polly,upolly2@cdbaby.com,M,29,Brown-Dietrich,772 Crowley Court,Banff
3,Alphonso,Bourley,abourley3@issuu.com,M,29,Hansen-Russel,0 Graceland Avenue,Sabana Grande
4,Munmro,Fenck,mfenck4@mediafire.com,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai

In [6]:
# print(organized_df)

In [8]:
# Use .rename(columns={}) to rename columns
renamed_df = organized_df.rename(columns = {"first_name" : "First Name"})

In [9]:
renamed_df

,First Name,last_name,email,gender,age,company_name,address,city
0,Rufe,Eickhoff,reickhoff0@last.fm,M,54,Zieme and Sons,0 Summer Ridge Pass,Mizque
1,Berkie,Morson,bmorson1@homestead.com,M,20,Gibson and Sons,37963 Linden Crossing,Ouro Branco
2,Urbano,Polly,upolly2@cdbaby.com,M,29,Brown-Dietrich,772 Crowley Court,Banff
3,Alphonso,Bourley,abourley3@issuu.com,M,29,Hansen-Russel,0 Graceland Avenue,Sabana Grande
4,Munmro,Fenck,mfenck4@mediafire.com,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai
...,...,...,...,...,...,...,...,...
495,Perrine,Patria,ppatriadr@stumbleupon.com,F,79,"Heaney, Marks and Williamson",28 Amoth Court,Saipan
496,Perl,Parrett,pparrettds@cam.ac.uk,F,38,Schuppe-Wiza,517 Mariners Cove Road,Zverevo
497,Eleen,Jakeman,ejakemandt@prlog.org,F,37,Lakin and Sons,835 Dunning Road,Carlos Barbosa
498,Crysta,Barfoot,cbarfootdu@about.me,F,60,"Graham, Koss and Larkin",35065 Westport Circle,Nguluhan
499,Helen-elizabeth,McKew,hmckewdv@ibm.com,F,40,"Wisozk, Mueller and Streich",1 Northfield Alley,Sijunjung