In [1]:
import pandas as pd

In [2]:
# Import the data
file = '../Resources/SFO_Airport_Utility_Consumption.csv'
utilities_df = pd.read_csv(file)

utilities_df.head()

   Year  Month Number Month      Utility       Owner   Units       Usage
0  2013             1   Jan   Passengers      Campus     PAX   3209356.0
1  2013             1   Jan          Gas  Commission  Therms    363205.0
2  2013             1   Jan          Gas      Tenant  Therms     49393.0
3  2013             1   Jan  Electricity  Commission     kWh  12904353.0
4  2013             1   Jan  Electricity      Tenant     kWh  14002156.0

# Basic Analysis

In [3]:
utilities_df.shape

(560, 7)

In [4]:
utilities_df['Year'].value_counts()

Year
2013    84
2014    84
2015    84
2016    84
2017    84
2018    84
2019    56
Name: count, dtype: int64

In [7]:
utilities_df['Utility'].value_counts()

Utility
Gas            160
Electricity    160
Water          160
Passengers      80
Name: count, dtype: int64

In [8]:
utilities_df['Units'].value_counts()

Units
Therms             160
kWh                160
Million Gallons    160
PAX                 80
Name: count, dtype: int64

In [10]:
utilities_df.isnull().sum()

Year            0
Month Number    0
Month           0
Utility         0
Owner           0
Units           0
Usage           0
dtype: int64

NOTES:
- 1) We only care about 2013, 2018
- 2) Units and Utility are vibing, so we only need 1
- 3) Utilities, Year, Usage
- 4) We don't care about month, Month Numbers, Owner, Units


- 5) Track Percentage change only

# Question: 
### Which utility's usage changed the most from 2013 to 2018?

In [12]:
utilities_df.columns

Index(['Year', 'Month Number', 'Month', 'Utility', 'Owner', 'Units', 'Usage'], dtype='object')

In [13]:
utilities_df = utilities_df[['Utility', 'Year', 'Usage']]
utilities_df.head()

       Utility  Year       Usage
0   Passengers  2013   3209356.0
1          Gas  2013    363205.0
2          Gas  2013     49393.0
3  Electricity  2013  12904353.0
4  Electricity  2013  14002156.0

In [16]:
utilities_df = utilities_df.loc[(utilities_df['Year'] == 2013) | (utilities_df['Year'] == 2018)]

In [20]:
utilities_df['Utility'].value_counts()

Utility
Gas            48
Electricity    48
Water          48
Passengers     24
Name: count, dtype: int64

In [22]:
utilities_df['Year'].value_counts()

Year
2013    84
2018    84
Name: count, dtype: int64

In [27]:
gas_2013   = utilities_df.loc[(utilities_df['Utility'] == "Gas") & (utilities_df['Year'] == 2013)]['Usage'].sum()
elec_2013  = utilities_df.loc[(utilities_df['Utility'] == "Electricity") & (utilities_df['Year'] == 2013)]['Usage'].sum()
water_2013 = utilities_df.loc[(utilities_df['Utility'] == "Water") & (utilities_df['Year'] == 2013)]['Usage'].sum()
pass_2013   = utilities_df.loc[(utilities_df['Utility'] == "Passengers") & (utilities_df['Year'] == 2013)]['Usage'].sum()

In [28]:
gas_2018   = utilities_df.loc[(utilities_df['Utility'] == "Gas") & (utilities_df['Year'] == 2018)]['Usage'].sum()
elec_2018  = utilities_df.loc[(utilities_df['Utility'] == "Electricity") & (utilities_df['Year'] == 2018)]['Usage'].sum()
water_2018 = utilities_df.loc[(utilities_df['Utility'] == "Water") & (utilities_df['Year'] == 2018)]['Usage'].sum()
pass_2018  = utilities_df.loc[(utilities_df['Utility'] == "Passengers") & (utilities_df['Year'] == 2018)]['Usage'].sum()

In [53]:
final_list = [ 
{
    "Utility": "Gas",
    "2013" : gas_2013,
    "2018": gas_2018,
    "Difference": round(gas_2018 - gas_2013, 1),
    "Change %": round((gas_2018 - gas_2013) / gas_2013 * 100, 1)
},
{
    "Utility": "Electricity",
    "2013" : elec_2013,
    "2018": elec_2018,
    "Difference": round(elec_2018 - elec_2013, 1),
    "Change %": round((elec_2018 - elec_2013) / elec_2013 * 100, 1)
},
{
    "Utility": "Water",
    "2013" : water_2013,
    "2018": water_2018,
    "Difference": round(water_2018 - water_2013, 1),
    "Change %": round((water_2018 - water_2013) / water_2013 * 100, 1)
},
{
    "Utility": "Passengers",
    "2013" : pass_2013,
    "2018": pass_2018,
    "Difference": round(pass_2018 - pass_2013, 1),
    "Change %": round((pass_2018 - pass_2013) / pass_2013 * 100, 1)
},
]

In [54]:
pd.DataFrame(final_list)

       Utility          2013          2018  Difference  Change %
0          Gas  3.887382e+06  3.621795e+06   -265587.5      -6.8
1  Electricity  3.302848e+08  3.112194e+08 -19065323.9      -5.8
2        Water  3.909325e+02  4.102361e+02        19.3       4.9
3   Passengers  4.500676e+07  5.779723e+07  12790468.0      28.4

In [44]:
gas_diff   = round((gas_2018 - gas_2013)     / gas_2013 * 100, 1)
elec_diff  = round((elec_2018 - elec_2013)   / elec_2013 * 100, 1)
water_diff = round((water_2018 - water_2013) / water_2013 * 100, 1)
pass_diff  = round((pass_2018 - pass_2013)   / pass_2013 * 100, 1)

In [45]:
print(gas_diff)
print(elec_diff)
print(water_diff)
print(pass_diff)

-6.8
-5.8
4.9
28.4

In [55]:
def calculate_utility_difference(utilities_df, utilities, years):
    result = {}
    for year in years:
        result[year] = {}
        for utility in utilities:
            subset = utilities_df[(utilities_df['Year'] == year) & (utilities_df['Utility'] == utility)]
            total = subset['Usage'].sum()
            result[year][utility] = total
    difference = {}
    for utility in utilities:
        difference[utility] = result[2018][utility] - result[2013][utility]
    return difference

In [56]:
utilities = ['Gas', 'Water', 'Electricity', 'Passengers']
years = [2013, 2018]
result_difference = calculate_utility_difference(utilities_df, utilities, years)
print(result_difference)

{'Gas': -265587.49627000047, 'Water': 19.303635999999983, 'Electricity': -19065323.899999976, 'Passengers': 12790468.0}

# Summary
{Write your summary here.}