In [3]:
# Import dependencies
import numpy as np
import pandas as pd
import scipy.stats as stats

In [6]:
# Read in the LAX temperature data
temp_df = pd.read_csv('../Resources/lax_temperature.csv')

temperatures = temp_df['HourlyDryBulbTemperature']

temp_df

          STATION                 DATE REPORT_TYPE  HourlyDryBulbTemperature
0     72295023174  2019-01-01T00:49:00       FM-16                        52
1     72295023174  2019-01-01T00:53:00       FM-15                        51
2     72295023174  2019-01-01T01:53:00       FM-15                        52
3     72295023174  2019-01-01T02:53:00       FM-15                        49
4     72295023174  2019-01-01T03:53:00       FM-15                        43
...           ...                  ...         ...                       ...
3524  72295023174  2019-04-18T21:53:00       FM-15                        60
3525  72295023174  2019-04-18T22:06:00       FM-16                        59
3526  72295023174  2019-04-18T22:12:00       FM-16                        58
3527  72295023174  2019-04-18T22:36:00       FM-16                        58
3528  72295023174  2019-04-18T22:53:00       FM-15                        58

[3529 rows x 4 columns]

In [15]:
print(temperatures.mean())
print(temperatures.median())
print(temperatures.mode())

57.65514310002834
57.0
0    57
Name: HourlyDryBulbTemperature, dtype: int64

In [13]:
# temperatures.describe()

In [17]:
# Calculate the measures of central tendency
print(f"The mean temperature at the LAX airport is {np.mean(temperatures)}")
print(f"The median temperature at the LAX airport is {np.median(temperatures)}")
print(f"The mode temperature at the LAX airport is {stats.mode(temperatures)}")

The mean temperature at the LAX airport is 57.65514310002834
The median temperature at the LAX airport is 57.0
The mode temperature at the LAX airport is ModeResult(mode=57, count=327)

In [18]:
# Calculate variance and standard deviation using NumPy
print(f"The population variance using the NumPy module is {np.var(temperatures)}")
print(f"The population standard deviation using the NumPy module is {np.std(temperatures)}")

The population variance using the NumPy module is 32.33077618382955
The population standard deviation using the NumPy module is 5.686015844493361

In [20]:
# Calculate z-scores using SciPy
print(f"The z-scores using the SciPy module are {stats.zscore(temperatures)}")

The z-scores using the SciPy module are 0      -0.994570
1      -1.170440
2      -0.994570
3      -1.522181
4      -2.577401
          ...
3524    0.412390
3525    0.236520
3526    0.060650
3527    0.060650
3528    0.060650
Name: HourlyDryBulbTemperature, Length: 3529, dtype: float64

In [21]:
# Add the z-scores to the original DataFrame as a new column
temp_df["z_score"] = stats.zscore(temperatures)

temp_df.head(10)

,STATION,DATE,REPORT_TYPE,HourlyDryBulbTemperature,z_score
0,72295023174,2019-01-01T00:49:00,FM-16,52,-0.994570
1,72295023174,2019-01-01T00:53:00,FM-15,51,-1.170440
2,72295023174,2019-01-01T01:53:00,FM-15,52,-0.994570
3,72295023174,2019-01-01T02:53:00,FM-15,49,-1.522181
4,72295023174,2019-01-01T03:53:00,FM-15,43,-2.577401
5,72295023174,2019-01-01T04:00:00,FM-12,43,-2.577401
6,72295023174,2019-01-01T04:53:00,FM-15,46,-2.049791
7,72295023174,2019-01-01T05:53:00,FM-15,47,-1.873921
8,72295023174,2019-01-01T06:53:00,FM-15,44,-2.401531
9,72295023174,2019-01-01T07:53:00,FM-15,47,-1.873921